
.graph {
    position: relative;
    margin-top: -1em;
}


.graph__canvas {
    overflow: hidden;
}



.detailGraph__cluster-close {
    &:hover {
        opacity: 1;
        transform: scale(1.2);
    }
    pointer-events: none;
    transition: opacity .3s, transform .3s;
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;

    opacity: 0;
    transform: scale(0.6);

    svg {
        width: 4em;
        height: 4em;
    }

    &.active {
        opacity: 0.8;
        pointer-events: auto;
        transform: scale(1);        
        
    }
}

.detailGraph__item-hover {
    position: absolute;
    opacity: 0;
    padding: 0.3em;
    font-size: 0.9em;
    background: #fff;
    margin-left: 1em;

    &.active {
        transition: opacity 0.3s;
        opacity: 1;
    }
}

