
@import "constants.scss";

.queryBar {
    padding: 10px 0;
}

.queryBar__control {
    display: flex;
    align-items: center;
    border: 2px solid $colorCard;
    padding: 10px;
}

.queryBar__q-items {
    display: flex;

    .item {
        background: rgba(0, 188, 212, 0.21);
        margin-right: 10px;
    }
}

.queryBar__q-remove {
    color: blue;
    cursor: pointer;
    float: right;
}

.queryBar__item {
    position: relative;
    padding-right: 35px;
    padding-left: 20px;
    margin-top: 0;

    .item__query-link {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.svg-inline.queryBar__icon {
    height: 3em;
    width: 3em;
    fill: $colorLightFont;
}
