
@import "constants.scss";

.queryBar {
    position: fixed;
    transform: translate3d(0,0,0);
    top: 0;
    left: 0;
    background: #fff6ef;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -3px 17px rgba(0,0,0,0.2);
}

.queryBar__control {
    display: flex;
    align-items: center;
    padding: 0.7em 2em;
}

.svg-inline.queryBar__icon {
    height: 2em;
    width: 2em;
    fill: $colorBlack;
    margin-right: 1em;
    opacity: 0.8;
}


.queryBar__q-items {
    display: flex;
}

/** ------------ queryBar__item ------------ */
.queryBar__item {
    position: relative;
    padding-left: 1em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;    

    &-type {
        text-transform: uppercase;
        font-size: .7em;
    }

    &:hover {
        .queryBar__item-remove {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}
.queryBar__item-image {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.3em;
    font-size: 2em;
    flex-shrink: 0;
    background-size: cover;

    &--tag {
        text-align: center;
        background: $colorTag;
        color: #fff;
        opacity: .7;
    }

    &--empty {
        background-color: rgba(0,0,0,0.2);
    }
}

.queryBar__item-remove {
    position: absolute;
    right: 0;
    top: 3px;
    opacity: 0;
    cursor: pointer;
    transform: translate3d(0, -20%, 0);
    transition: all .4s;

    &:hover {
        color: $colorActive;
    }
}
.queryBar__item-name {
    white-space: nowrap;
    max-width: 10em;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

/** ------------ queryBar__input ------------ */

.queryBar__input {
    color: $colorBlack;
    background: none;
    font-family: inherit;
    font-size: 2.5em;
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 0 .2em;
}