
.Item {
    padding: 10px;
    border: 1px solid rgba(96, 125, 139, 0.59);
    background: rgba(96, 125, 139, 0.09);
    margin-top: 10px;
}

.Item-type {
    font-size: 80%;
}

.Item-name {
    text-decoration: none;
    color: #3F51B5;
    font-weight: bold;
    margin: .3em 0;
    display: inline-block;
}

.Item-query-link {
    font-size: 70%;
    float: right;
    cursor: pointer;
}
.Item-query-link:hover {
    color: #3F51B5;
}