
@import "constants.scss";

.itemDetail--closed {
    pointer-events: none;
}

.itemDetail__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.itemDetail__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .4s;
    
    .itemDetail--open & {
        opacity: .6;
    }
}

.itemDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    width: 800px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    color: #000;
    display: flex;
    max-height: 70vh;

    @media only screen and (max-width: 600px) {
        display: block;
    }

    opacity: 0;
    transition: opacity .4s, transform .3s;
    .itemDetail--open & {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);    
    }

    .item__image {
        max-width: 100%;
    }
}

.itemDetail__left {
    width: 290px;
    margin-right: 1em;
}

.itemDetail__main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media only screen and (max-width: 600px) {
        margin-top: 2em;
    }
}

.itemDetail__type {
    text-transform: uppercase;
    font-size: .7em;
    margin-bottom: .3em;
          
}

.textappear-anim {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
    }
    
    transform: translate3d(-100%, 0, 0);
    .itemDetail--open & {
        transition: transform 0.3s 0.2s;
        transform: translate3d(0, 0, 0);
        &:before {
            transition: transform 0.3s 0.5s;
            transform: translate3d(100%, 0, 0);
        }        
    }
}

.itemDetail__name {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.smallTrackInfo {
    cursor: pointer;
    margin-top: .4em;
}

.itemDetail__neighbors {
    margin-top: 1em;
    overflow-y: auto;
    width: 100%;
}

.itemDetail__neighbor {
    padding: .8em 0;    
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
    cursor: pointer;

    &:hover {
        color: $colorActive;
    }
}

.itemDetail__neighbor-type {
    text-transform: uppercase;
    font-size: .7em;

}

.itemDetail__neighbor-name {
}
