
.playerBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    
    
    min-height: 60px;
    background: #fff;
    opacity: .6;
    transition: all .3s;

    &:hover {
        opacity: 1;
    }
}

