
.SearchFilter {
    border-bottom: 2px solid #00BCD4;
    padding: 10px 0;
}

.SearchFilter__hd {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 20px;
}

.SearchFilter__q-item {
}

.SearchFilter__q-remove {
    color: blue;
    cursor: pointer;
    float: right;
}